body {
    background: url(./images/backgroundpix.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: "Abril Fatface";
}

.rowHeight {
    height: 500px;
}

h1 {
    color: #000;
    font-size: 2.5em;
}

.bg {
    background-color: #c1c1c1;
    opacity: 0.8;
}

.footer {
    background-color: white;
    bottom: 0;
    position: fixed;
}

.footerdiv {
    margin: 0;
    padding: 0;
}

.thumbnailsection {
    margin-bottom: 100px;
}